@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    --cor-primaria: #14213d;
    --cor-secundaria: #669BBC;
    --cor-terciaria: #FDB23A;
    --cor-clara: #FEF8EC;
    --cor-escura: #161616;
}

html,
body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    box-sizing: border-box;
    background-color: var(--cor-escura);
    color: var(--cor-clara);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;

}

header {
    width: 90%;
    color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    align-items: end;

}

.titulo__animado {
    margin: 5% 0 0 20%;
    width: 11ch;
    font-size: 2rem;
    border-right: 4px solid;
    white-space: nowrap;
    overflow: hidden;
    height: 2.3rem;
    animation: digitando 1.5s steps(11), blink .5s infinite step-end alternate;
}

@keyframes digitando {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.menu__item {
    text-decoration: underline;
    color: var(--cor-clara);
    text-decoration-color: var(--cor-terciaria);
}

.menu__item:hover {
    font-weight: bold;
    cursor: pointer;
    text-decoration: overline;
    text-decoration-color: var(--cor-terciaria);
}

main {
    flex-grow: 1;
    padding: 5%;

    background-image: url(../assets/bg-complete.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
}

.conteudo {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    padding-left: 10%;
}

.conteudo__titulo {
    font-size: 3rem;
    font-weight: 700;
}

.conteudo__texto {
    font-weight: 300;
    line-height: 1.5rem;
}

.conteudo__texto__destaque {
    font-weight: bold;
}

.conteudo__texto__decoration {
    color: var(--cor-secundaria);
}

.conteudo__botoes {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.conteudo__botao {
    display: flex;
    padding: 1rem 3rem;
    gap: 1rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid var(--cor-secundaria);
    color: #669BBC;
    border-radius: 1.3ch;
}

.conteudo__botao:hover {
    cursor: pointer;
    background-color: var(--cor-secundaria);
    color: var(--cor-clara);
    transition: .5s;
}

footer {
    background-color: var(--cor-terciaria);
    height: 6vh;
    padding: 0.7rem 0;
    color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer__conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

.footer__trademark {
    font-size: 1rem;
}

@media (max-width: 1200px) {

    .menu {
        gap: 5%;
    }

    .menu__item {
        font-size: 1.5rem;
    }

    main {
        flex-direction: column-reverse;
        background-image: none;
        gap: 5%;
        padding: 10% 10% 5% 10%;
    }

    .conteudo {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .conteudo__texto {
        margin: 5% 0;
    }

    .conteudo__botoes {
        padding: 5% 5% 0 5%;
        align-items: center;
        justify-content: center;
    }

    .conteudo__botao {
        display: flex;
        padding: 1.5rem 7rem;
        gap: 1rem;
        font-size: 1.5rem;
        align-items: center;
        justify-content: center;
    }

    .github__logo {
        transform: scale(1.5);
    }

    .linkedin__logo {
        transform: scale(1.5);
    }

    .main__imagem {
        width: 60%;
        align-self: center;
    }

    footer {
        padding: 2rem 0;
    }
}

@media (max-width: 800px) {

    html, body {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    header {
        flex-direction: column;
        padding-top: 10%;
        margin: 0;
        align-items: center;
    }

    .titulo__animado {
        margin: 5% 0;
    }

    .menu {
        width: 70%;
        display: flex;
        justify-content: space-evenly;
    }

    main {
        width: 70%;
    }

    .main__imagem {
        padding: 5% 0;
    }

    .conteudo__botoes {
        flex-direction: column;
    }

    .conteudo__botao {
        font-size: 1rem;
        width: 100%;
    }

    .github__logo {
        transform: none;
    }

    .linkedin__logo {
        transform: none;
    }

    footer {
        width: 100vw;
        padding: 2rem 0;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}

@media (max-width: 425px) {
    main {
        gap: 2%;
    }

    .conteudo {
        gap: 2%;
        margin-bottom: 2%;
    }

    .linkedin__logo {
        size: 1rem;
    }

    footer {
        width: 100%;
    }

}